[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
nose = "*"

[packages]
flask = "*"
flask-restplus = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
celery = {git = "https://github.com/celery/celery.git",ref = "master"}
redis = "==2.10.6"

[requires]
python_version = "3.7"
